.middle {
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}


.btn-contact {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: #f1f1f1;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn-contact i {
    line-height: 90px;
    font-size: 36px;
    transition: 0.2 linear;
}

.btn-contact:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}
/*.btn-contact::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 120%;*/
/*    height: 120%;*/
/*    background-color: #3498db;*/
/*    transform: rotate(45deg);*/
/*    left: -110%;*/
/*    top: 90%;*/
/*}*/
/*.btn-contact:hover::before{*/
/*    animation: aaa 0.7s 1;*/
/*    top: -10%;*/
/*    left: -10%;*/
/*}*/
/*.youtube:hover::before{*/
/*    background: red;*/
/*}*/
/*.facebook:hover::before{*/
/*    color: #3b5999;*/
/*}*/
/*.instagram:hover::before{*/
/*    background: #e4405f;*/
/*}*/
/*.google:hover::before {*/
/*    background: #dd4b39;*/
/*}*/

/*@keyframes aaa {*/
/*    0%{*/
/*        left: -110%;*/
/*        top: 90%;*/
/*    }*/
/*    50%{*/
/*        left: 10%;*/
/*        top: -30%*/
/*    }*/
/*    100%{*/
/*        top: -10%;*/
/*        left: -10%;*/
/*    }*/
/*}*/
.profile-picture,
.profile-details {
    flex: 1;
    font-size: 16px;
    font-size: 2.5vw;
}

.profile-wrapper {
    margin-top: 30px;
    background: #013864;
    border-radius: 12px;
    margin: 25px;
    max-width: 850px;
    margin: 0 auto;
    color: white;
    /*height: 100vh;*/
    display: flex;
}

img#profile-picture {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}

div.profile-details > div {
    padding: 0em 1em 1em 1em;
}

div.profile-details > div > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.profile-details > div > ul li {
    margin: 8px 0;
    display: block;
}

div.profile-details > div > ul > li > div:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
    font-size: 2vw;
    width: 30%;
    display: inline-block;
}

div.profile-details > div > ul > li > div:nth-child(2) {
    font-size: 16px;
    font-size: 2vw;
    text-align: left;
    width: 68%;
    display: inline-block;
}

.contact-action {
    position: fixed;
    bottom: 25px;
    right: 15px;
    width: 5em;
    height: 5em;
    cursor: pointer;
}

.back-action {
    position: fixed;
    top: 20px;
    left: 15px;
    width: 5em;
    height: 5em;
    cursor: pointer;
}

.contact-action .item,
.back-action .item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    transition: 0.5s;
    color: white;
    background: transparent;
    box-shadow: 1px 1px 5px #000;
}

.back-action .item {
    font-size: 2em;
}

@media (max-width: 800px) {
    .profile-wrapper {
        flex-direction: column;
    }

    .back-action,
    .contact-action {
        width: 10em;
        height: 10em;
    }

    .back-action .item {
        font-size: 4em;
    }

    .contact-action .item {
        font-size: 7em;
    }

    .profile-details {
        font-size: 5vw;
        min-height: 60vh;
    }

    div.profile-details > div > ul > li > div:nth-child(1),
    div.profile-details > div > ul > li > div:nth-child(2) {
        font-size: 5vw;
    }

    img#profile-picture {
        max-height: 40vh;
    }
}

.item:hover {
    color: #013864;
    background: #fff;
    box-shadow: 1px 1px 5px #000;
}

.content-for-contacts-page {
    margin-top: 30px;
    color: #013864;
    background: #fff;
    box-shadow: 1px 1px 5px #000;
}
