h1 {
  font-weight: 900;
}

h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 600;
}

p {
  color: #6c757d;
}

img {
  max-width: 100%;
}

.about-section {
  width: 100%;
  height: 100vh;
  margin-top: 25px;
  margin-bottom: 25px;
}

.left-header {
  position: sticky;
  top: 0;
  left: 0;
  color: #fff;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../../assect/aboutImages/a.jpg");
  background-size: cover;
  padding: 4rem;
}

.left-header::before {
  background-color: #fff;
  position: absolute;
  content: "";
  bottom: 50px;
  left: 30px;
  margin: 0 1rem;
  width: 80%;
  height: 2px;
}

.left-header::after {
  background-color: #fff;
  position: absolute;
  content: "";
  bottom: 50px;
  left: 30px;
  margin: 0 1rem;
  height: 80%;
  width: 2px;
}

.left-header h2 {
  margin-left: 4rem;
}

.v-center-box {
  min-height: 100%;
}

.sub-heading {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  word-spacing: 0.05rem;
}

.about-data {
  position: relative;
}

.about-data::before {
  position: absolute;
  content: "\003c/ ABOUT \003e";
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 900;
  color: #dee2e6;
  background-color: #fff;
  width: 8rem;
}

.about-data i {
  color: #f12d2d;
}

.about-data p {
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem;
}
.about-data .data-number {
  color: #494949;
  font-size: 1.2rem;
}

.icon-18 {
  font-size: 1.8rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .left-header::before {
    width: 70%;
  }
}

@media (min-height: 590px) {
  .left-header::after {
    height: 85%;
  }
}

.about-info-text {
  padding: 10px;
  font-family: "Noto Serif Armenian", serif;
  font-weight: bold;
  color: #0b3d3d;
  font-size: 20px;
}

.container-about-info {
  margin: 0 25px;
}

.h1-container-info {
  color: #0b3d3d;
  font-family: "Noto Sans Armenian", sans-serif;
}

.about-footer {
    margin-top: 298px;
}
