@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

.header-home {
    width: 100%;
    height: 200px;
    /*background-color: #172c88;*/
    border: 1px solid #172c88;
    background: #373B44; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*position: fixed;*/
    /*top: 0;*/
}

.avatar-profile-all-user {
    text-align: center;
}

.search-header {
    width: 100%;
    height: 120px;
    background-color: #172c88;
    border: 1px solid #172c88;
}

.login,
.sign-up {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: aliceblue;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.sign-up:hover {
    color: #0d6efd;
}

.sign-up {
    margin-right: 25px;
    cursor: pointer;
}

.slash {
    font-size: 20px;
    color: aliceblue;
    margin-right: 5px;
    margin-left: 5px;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 130px;
    text-align: center;
}

.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 25px;
    font-style: italic;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
    background: white;
    padding-left: 18px;
    margin-right: 15px;
}


.extend-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 25px;
    font-style: italic;
    font-size: 20px;
    border-radius: 10px;
    background: #0580e8;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.span-search {
    /*padding-bottom: 25px;*/
}

/*.icon-search {*/
/*  padding: 25px;*/
/*  font-style: italic;*/
/*  text-align: center;*/
/*  font-size: 25px;*/
/*  padding-bottom: 0;*/
/*  border-radius: 10px;*/
/*  margin-right: 10px;*/
/*  margin-bottom: 20px;*/
/*}*/

.main-title {
    color: #194d94;
    font-family: sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 55px;
    margin-top: 20px;
    text-align: center;
}

.content-profile {
    margin-top: 100px;
}

.content-home-page {
    /*margin-top: 298px;*/
    width: 100%;
    background: #373B44; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main-btn {
    padding: 20px;
    width: 250px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 25px;
    border-radius: 10px;
    background: #1c4f97;
    color: aliceblue;
    border: none;
    text-align: center;
    cursor: pointer;
}

.about-content {
    margin: 0 auto;
    max-width: 850px;
    padding: 10px;
    border-radius: 12px;
    background: #1c4f97;
    color: white;
}

.list-btns {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    /*margin: 0 auto;*/
    text-align: center;
    margin-top: 35px;
}

@media only screen and (max-width: 1114px) {
    .main-btn {
        padding: 20px;
        width: 200px;
        margin-left: 25px;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 25px;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        text-align: center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 913px) {
    .search {
        padding: 10px;
    }

    .main-btn {
        padding: 15px;
        width: 150px;
        margin-left: 25px;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 25px;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        text-align: center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 713px) {
    .main-btn {
        padding: 12px;
        width: 120px;
        margin-left: 25px;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 18px;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        text-align: center;
        cursor: pointer;
    }
}

.home-footer {
    margin-top: 30px;
}

@media only screen and (max-width: 792px) {
    .auth > svg {
        width: 20px;
        height: 20px;
    }

    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 430px;
        height: 25px;
        font-style: italic;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid white;
        background: white;
        padding-left: 18px;
        margin-right: 15px;
    }


    .login,
    .sign-up {
        font-size: 20px;
        margin-left: 3px;
        margin-right: 3px;
        color: aliceblue;
        cursor: pointer;
    }

    .sign-up {
        margin-right: 20px;
    }

    .slash {
        font-size: 20px;
        color: aliceblue;
        margin-right: 5px;
        margin-left: 5px;
    }

    .extend-search {
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 25px;
        font-style: italic;
        font-size: 18px;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        cursor: pointer;
    }
}

@media only screen and (max-width: 595px) {
    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 25px;
        font-style: italic;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid white;
        background: white;
        padding-left: 18px;
        margin-right: 15px;
    }


    .extend-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 185px;
        height: 25px;
        font-style: italic;
        font-size: 16px;
        border-radius: 10px;
        background: #0580e8;
        color: aliceblue;
        border: none;
        cursor: pointer;
    }

    .main-btn {
        padding: 12px;
        width: 200px;
        margin-left: 25px;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 22px;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        text-align: center;
    }
}

@media only screen and (max-width: 465px) {
    .main-btn {
        padding: 15px;
        width: 150px;
        margin-left: 25px;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 20px;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 25px;
        font-style: italic;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid white;
        background: white;
        padding-left: 18px;
        margin-right: 15px;
    }


    .extend-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 25px;
        font-style: italic;
        font-size: 16px;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        cursor: pointer;
    }

    .main-btn {
        padding: 15px;
        width: 150px;
        margin-left: 25px;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 20px;
        border-radius: 10px;
        color: aliceblue;
        border: none;
        text-align: center;
    }
}

.company-footer {
    margin-top: 400px;
}

.university-footer {
    margin-top: 400px;
}

.about-footer {
    margin-top: 400px;

}

.contact-footer {
    margin-top: 400px;
}

/*.extended-search-text {*/
/*    font-size: 32px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    !*position: relative;*!*/
/*    margin-top: 170px;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

.content-extended-search {
    margin-top: 25px;
}


.menu-items-for-header {
    color: white;
    margin-right: 12px;
    font-size: 18px;
    font-family: Roboto sans-serif;
    font-style: italic;
    border: none;
}

.menu-items-for-header:hover {
    color: #002aff;
}

.menu-links-with-navigation {
    border: none;
    text-decoration-color: white;
}

.menu-links-with-navigation:hover {
    text-decoration-color: #002aff;
}

.extended-button-submit {
    text-align: center;
    width: 100%;
    padding: 15px;
    font-size: 25px;
    color: white;
    background: #172c88;
}

.extended-button-submit-1 {
    border-radius: 5px;
    text-align: center;
    width: 100%;
    padding: 5px;
    font-size: 25px;
    color: white;
    background: #172c88;
    cursor: pointer;
}


.block-extended-data {
    background: #172c88;
}

.h1-about {
    color: white;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif;
}

.text-for-about {
    font-family: sans-serif;
    padding: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: white;

    font-style: italic;
    font-weight: bold;
    padding: 5px;
}


.container_slider_css {
    margin: 30px auto;
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: block;
}

.photo_slider_css {
    position: absolute;
    animation: round 4s infinite;
    opacity: 0;
    width: 100%;
    border-radius: 8px;


}

@keyframes round {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

.photo_slider_css:nth-child(1) {
    animation-delay: 3s;
}

.photo_slider_css:nth-child(2) {
    animation-delay: 6s;
}

.photo_slider_css:nth-child(3) {
    animation-delay: 9s;
}

.photo_slider_css:nth-child(4) {
    animation-delay: 0s;
}

@media (min-width: 0px) and (max-width: 320px) {
    /* совсем маленькие экраны андроидов */
    .container_slider_css {
        width: 80%;
        height: 190px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    /* популярные разрешения смартфонов уже более позднего поколения андроид */
    .container_slider_css {
        width: 80%;
        height: 190px;
    }
}

.content-for-universities {
    background: #373B44; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
