main {

    .card {
        width: 600px;
        height: auto;
        background: white;
        display: flex;
        column-gap: 15px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0px 1px 2px 0px gray;
        overflow: hidden;

        .card-img {
            width: 20%;

            img {
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .card-content {
            width: calc(80% - 15px);

            .card-title {
                font-size: 16px;
                font-weight: 500;

                span {
                    color: #80808085;
                }
            }
            .card-paragrah {
                font-size: 14px;
                margin: 8px 0px;
            }
            .card-likes {
                font-size: 12px;
                color: #80808085;
                font-weight: 500;
            }
        }
    }

}


@media screen and (max-width: 700px) {
    body {
        main {
            .card {
                width: 80%;
                flex-direction: column;

                .card-img {
                    width: 100%;

                    img {
                        width: 25%;
                    }
                }
                .card-content {
                    width: 100%;
                }
            }
        }
    }
}
