* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    border-radius: 0;
    box-sizing: border-box;
    background: none;
    vertical-align: top;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
}

*::before, *::after {
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 12px;
    background: #000;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #373B44; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #006fff);
}
